<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hangman</title>
<head>
  <link rel="stylesheet" type="text/css" href="/Extra/style.css" >
  <style>
    body {
      background-image: url("https://wallpapers.com/images/featured/5xvepms9fbbi0bmh.jpg");
      height: 650px;
      width: 900px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  </style>
<body>
  <div id="contenu">
    <div id="title">Welcome to : THE HANGMAN</div>
  </div>
  <h2 id="sous-titre" >Click on this button to play</h2>
  <button id="buttonplay" onclick="window.location.href = '/index';">PLAY NOW !</button>
</body>
</head>
</html>