<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="stylesheet" type="text/css" href="/Extra/style.css">
    <title>Jeu du pendu</title>
  </head>
  <body>
    <div id="container">
      <h1>Hangman Game</h1>
      <div id="word"></div>
      <div id="gallows">
        <img src="../Extra/pendu.png" alt="pic failed">
      </div>
      <div id="incorrect-letters"></div>
      <div id="guess-form">
        <form>
          <input type="text" id="guess-input" placeholder="Enter a letter">
          <input type="submit" value="Guess">
        </form>
      </div>
      <div id="result"></div>
    </div>
  </body>
</html>